<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple Todolist ver.1</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Todo list</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users}">Members</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h1> Tasks List</h1>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/tasks/new}" class="btn btn-primary btn-sm mb-3"> Add Task</a>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th> Task ID</th>
            <th> Task DUE</th>
            <th> Task Details</th>
            <th> Etc</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tasks : ${tasks}">
            <td th:text="${tasks.id}"></td>
            <td th:text="${tasks.due}"></td>
            <td th:text="${tasks.task}"></td>
            <td>
                <a th:href="@{/tasks/{id}(id=${tasks.id})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>